@import 'colors.scss';

#terminal {
    color: white;
    background-color: $dark-gray;
    &:focus {
        outline: 4px solid $purple;
    }

    font-size: 11pt;
    font-family: 'JetBrains Mono';

    position: fixed;
    right: 0;

    overflow-y: scroll;

    padding: 30px;

    @media all and (orientation: landscape) {
        height: 100vh;
        width: calc(100vw - 100vh);
        top: 0;
    }

    @media all and (orientation: portrait) {
        height: calc(100vh - 100vw);
        width: 100vw;
        bottom: 0;
    }

    #cursor {
        background-color: white;
        color: black;
    }
}
