@import url("https://fonts.googleapis.com/css?family=Karla");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
* ul {
  list-style: none;
}
* .Content p {
  font-family: "Karla", "Arial", sans-serif;
}

.stretch {
  width: 100%;
  height: 100%;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.transition-group {
  position: relative;
}

.route-section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.App {
  display: flex;
  height: 100vh;
  width: 160vw;
  position: relative;
  top: 0;
  left: -60vw;
  transition: left 0.5s cubic-bezier(0.4, 0, 0.43, 1.24) 0s;
}
.App.MenuOpen {
  left: 0;
}
@media screen and (max-width: 768px) {
  .App {
    width: 190vw;
    left: -90vw;
  }
}
.App .Sidebar {
  width: 60vw;
  height: 100vh;
  padding: 150px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.App .Sidebar .Navigation li:nth-child(1) a {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #fed1be 50%);
}
.App .Sidebar .Navigation li:nth-child(2) a {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #f0e0a2 50%);
}
.App .Sidebar .Navigation li:nth-child(3) a {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #adddcf 50%);
}
.App .Sidebar .Navigation li:nth-child(4) a {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #abe1fd 50%);
}
.App .Sidebar .Navigation li:nth-child(5) a {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #bfb1d5 50%);
}
.App .Sidebar .Navigation a {
  padding: 0 5px;
  background-size: 210%;
  transition: background-position 0.5s;
}
.App .Sidebar .Navigation a:hover {
  background-position: -90%;
}
.App .Sidebar .sidebar-connect a {
  color: #313131;
}
@media screen and (max-width: 768px) {
  .App .Sidebar {
    width: 90vw;
  }
}
.App .Content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: calc(60vw - 100px);
  background-color: #e8e7e5;
  margin: 50px;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .App .Content {
    margin: 0;
    width: 100vw;
  }
}
.App .Content.CLIClosed {
  width: calc(100vw - 130px);
}
.App .Content .card p,
.App .Content .card ul {
  padding-left: 15px;
  border-left: 3px solid #fdad8c;
  font-family: "Karla", "Arial", sans-serif;
  margin-bottom: 15px;
}
.App .Content .card ul {
  border-color: #e9d176;
  font-weight: bold;
}
.App .Content h2 {
  margin-bottom: 30px;
}
.App .Content .Home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100vh - 100px);
  padding: 50px 50px 0 50px;
}
.App .Content .Home > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.App .Content .Home svg {
  width: 38vw;
}
@media screen and (max-width: 768px) {
  .App .Content .Home {
    width: 100vw;
    height: 100vh;
    padding: 140px 0 0 0;
    justify-content: center;
  }
  .App .Content .Home h2 {
    padding-left: 5vw;
  }
  .App .Content .Home svg {
    width: 95vw;
    height: auto;
  }
}
.App .Content .header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  justify-content: center;
  background-color: #058fd7;
  min-height: 100px;
  color: white;
  margin-bottom: 50px;
}
.App .Content .header h1 {
  font-size: 3em;
}
@media screen and (max-width: 768px) {
  .App .Content .header {
    padding-top: 130px;
    padding-left: 40px;
    padding-bottom: 30px;
  }
}
.App .Content .PageNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  flex-direction: column;
}
.App .Content .PageNotFound h1 {
  font-size: 120px;
}
.App .Content .Projects {
  height: 100%;
  padding-bottom: 30px;
}
.App .Content .Projects img {
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
}
.App .Content .Projects h2,
.App .Content .Projects img {
  vertical-align: bottom;
}
@media screen and (max-width: 768px) {
  .App .Content .Projects {
    padding-bottom: 1.5vw;
  }
}
.App .Content .About {
  padding-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .App .Content .About {
    padding-bottom: 1.5vw;
  }
}
.App .Content .About .about-content {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .Content .About img {
  border-radius: 50%;
  margin-bottom: 30px;
  max-width: calc(100% - 100px);
}
.App .Content .About ul {
  margin-top: 20px;
  font-family: "Karla", "Arial", sans-serif;
  list-style: initial;
  margin-left: 15px;
}
.App .Content .About ul a {
  color: #058fd7;
}
.App .Content .Experience p {
  font-weight: bold;
}
.App .Content .Experience ul li {
  margin-bottom: 10px;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  .App .Content .Experience {
    padding-bottom: 1.5vw;
  }
}
.App .Content .card {
  padding: 30px;
  background-color: white;
  min-height: 200px;
  margin-bottom: 20px;
  margin-left: 50px;
  width: calc(100% - 100px);
  box-shadow: 0px 10px 20px 1px rgba(148, 148, 148, 0.5);
}
@media screen and (max-width: 768px) {
  .App .Content .card {
    margin-left: 5vw;
    width: 90vw;
  }
}
.App .MenuToggle {
  position: fixed;
  top: 88px;
  left: 33px;
  width: 50px;
  height: 50px;
}
.App .MenuToggle .line {
  height: 5px;
  width: 35px;
  display: block;
  background-color: #313131;
  margin-bottom: 5px;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: center;
}
.App .MenuToggle.MenuOpen #bar1 {
  animation-name: topBar;
  animation-delay: 0.25s;
}
.App .MenuToggle.MenuOpen #bar2 {
  animation-name: middleBar;
}
.App .MenuToggle.MenuOpen #bar3 {
  animation-name: bottomBar;
  animation-delay: 0.25s;
}
.App .MenuToggle.MenuOpen #hamburger-wrapper {
  animation-name: hamburger-wrapper-translate;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}
.App .MenuToggle.MenuClosed #bar1 {
  animation-name: topBarReverse;
}
.App .MenuToggle.MenuClosed #bar2 {
  animation-name: middleBarReverse;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}
.App .MenuToggle.MenuClosed #bar3 {
  animation-name: bottomBarReverse;
}
.App .MenuToggle.MenuClosed #hamburger-wrapper {
  animation-name: hamburger-wrapper-translate-reverse;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
@media screen and (max-width: 768px) {
  .App .MenuToggle {
    background-color: white;
    border-radius: 50%;
    padding-top: -25px;
    padding-left: -25px;
    top: 40px;
    left: 40px;
    width: 60px;
    height: 60px;
    padding-top: 17px;
    padding-left: 13px;
  }
}
.App .Terminal {
  flex-grow: 1;
  height: 100vh;
  width: 40vw;
  background-color: #313131;
  padding: 30px;
  color: white;
  font-size: 14px;
  font-family: "Fira Code";
  border: none;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: pre-wrap;
  overflow-y: auto;
  transition: right 0.5s cubic-bezier(0.4, 0, 0.43, 1.24) 0s;
  transition: outline 0.1s ease-in 0s;
}
.App .Terminal:focus {
  outline: 4px solid #bfb1d5;
}
.App .Terminal.CLIClosed {
  right: -40vw;
}
@media screen and (max-width: 768px) {
  .App .Terminal {
    display: none;
  }
}
.App .Terminal .prompt {
  color: #fed1be;
}
.App .Terminal .output {
  color: #abe1fd;
}
.App .Terminal .cursor {
  width: 8px;
  height: 16px;
  margin-bottom: -4px;
  display: inline-block;
  background-color: rgba(232, 231, 229, 0.7);
}
.App .cliTab {
  width: 50px;
  height: 50px;
  background-color: #313131;
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  right: 0px;
  border-radius: 50% 0 0 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
.App .cliTab.CLIClosed {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .App .cliTab {
    display: none;
  }
}

/* KEYFRAMES */
@keyframes topBar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg) translateY(14px);
  }
}
@keyframes bottomBar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg) translateY(-14px);
  }
}
@keyframes middleBar {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hamburger-wrapper-translate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
  }
}
@keyframes hamburger-wrapper-translate-reverse {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes topBarReverse {
  from {
    transform: rotate(-45deg) translateY(14px);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes bottomBarReverse {
  from {
    transform: rotate(45deg) translateY(-14px);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes middleBarReverse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=App.css.map */
