
// GENERAL STYLING
$black: #313131;
$gray: #777777;
$purple: #bfb1d5;
$green: #adddcf;
$blue: #abe1fd;
$salmon: #fed1be;
$yellow: #f0e0a2;
$light-gray: #e8e7e5; 
$dark-blue: #013243;

@import url('https://fonts.googleapis.com/css?family=Karla');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .Content p {
        font-family: 'Karla', 'Arial', sans-serif;
    }
}

.stretch {
    width: 100%;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.transition-group {
    position: relative;
}
.route-section {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
}

// MAJOR STRUCTURE

.App {
    display: flex;
    height: 100vh;
    width: 160vw;
    position: relative;
    top: 0;
    left: -60vw;
    transition: left 0.5s cubic-bezier(0.4, 0, 0.43, 1.24) 0s;

    &.MenuOpen {
        left: 0;
    }

    @media screen and (max-width: 768px) {
        width: 190vw;
        left: -90vw;
    }

    .Sidebar {
        width: 60vw;
        height: 100vh;
        padding: 150px 50px 50px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            width: 90vw;
        }
    }

    .Content {
        overflow: scroll;
        width: calc(60vw - 100px);
        background-color: $light-gray;
        margin: 50px;
        display: flex;
        justify-content: stretch;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            margin: 0;
            width: 100vw;
        }

        &.CLIClosed {
            width: calc(100vw - 130px);
        }

        .card {

            p, ul {
                padding-left: 15px;
                border-left: 3px solid darken($salmon, 10%);
                font-family: "Karla", "Arial", sans-serif;
                margin-bottom: 15px;
            }
            
            ul {
                border-color: darken($yellow, 10%);
                font-weight: bold;
            }
        }

        h2 {
            margin-bottom: 30px;
        }

        .Home {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            width: calc(100vw - 100px);
            height: calc(100vh - 100px);
            padding: 50px 50px 0 50px;
            //`background: url('./img/doodles.png');
            //background-size: repeat;

            > div {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }


            svg {
                width: 38vw;
            }

            @media screen and (max-width: 768px) {
                width: 100vw;
                height: 100vh;
                padding: 140px 0 0 0;
                justify-content: center;

                h2 {
                    padding-left: 5vw;
                }

                svg {
                    width: 95vw;
                    height: auto;
                }
            }
        }

        .header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 50px;
            justify-content: center;
            background-color: darken($blue, 40%);
            min-height: 100px;
            color: white;
            margin-bottom: 50px;

            h1 {
                font-size: 3em;
            }

            @media screen and (max-width: 768px) {
                padding-top: 130px;
                padding-left: 40px;
                padding-bottom: 30px;
            }
        }


        .About {

            padding-bottom: 40px;

            

            .skills {
            
            }
        }

        .Experience {
            
            p {
                font-weight: bold;
            }

            ul li {
                //list-style-type: circle;
                margin-bottom: 10px;
                font-weight: normal;
            }
            
            padding-bottom: 30px;
        }

        .card {
            padding: 30px;
            background-color: white;
            min-height: 200px;
            margin-bottom: 20px;
            margin-left: 50px;
            width: calc(100% - 100px);
            box-shadow: 0px 10px 20px 1px rgba(148,148,148,0.5);

            
        }

        .blurb {
            margin-left: 50px;
        }

        p.blurb {
            width: calc(100% - 100px);
            max-width: 800px;
            margin-bottom: 35px;
        }
    }

    .MenuToggle {
        position: fixed;
        top: 88px;
        left: 33px;
        width: 50px;
        height: 50px;

        .line {
            height: 5px;
            width: 35px;
            display: block;
            background-color: $black;
            margin-bottom: 5px;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            transform-origin: center;
        }
    
        &.MenuOpen {
            #bar1 {
                animation-name: topBar;
                animation-delay: 0.25s;
            }
        
            #bar2 {
                animation-name: middleBar;
            }
        
            #bar3 {
                animation-name: bottomBar;
                animation-delay: 0.25s;
            }
    
            #hamburger-wrapper {
                animation-name: hamburger-wrapper-translate;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
                animation-delay: 0.25s;
                animation-fill-mode: forwards;
            }
        }
    
        &.MenuClosed {
            #bar1 {
                animation-name: topBarReverse;
            }
        
            #bar2 {
                animation-name: middleBarReverse;
                animation-delay: 0.25s;
                animation-fill-mode: backwards;
            }
        
            #bar3 {
                animation-name: bottomBarReverse;
            }
            #hamburger-wrapper {
                animation-name: hamburger-wrapper-translate-reverse;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
            }
        }

        @media screen and (max-width: 768px) {
            background-color: white;
            border-radius: 50%;
            padding-top: -25px;
            padding-left: -25px;
            top: 40px;
            left: 40px;
            width: 60px;
            height: 60px;
            padding-top: 17px;
            padding-left: 13px;
        }
    }

    .Terminal {
        flex-grow: 1;
        height: 100vh;
        width: 40vw;
        background-color: $black;
        padding: 30px;
        color: white;
        font-size: 14px;
        font-family: "Fira Code";
        border: none;
        position: fixed;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        white-space: pre-wrap;
        overflow: scroll;
        transition: right 0.5s cubic-bezier(0.4, 0, 0.43, 1.24) 0s;

        &.CLIClosed {
            right: -40vw;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }

        .prompt {
            color: $salmon;
        }

        .output {
            color: $blue;
        }

        .cursor {
            width: 8px;
            height: 16px;
            margin-bottom: -4px;
            display: inline-block;
            background-color: rgba(232, 231, 229, 0.7);
        }
    }

    .cliTab {
        width: 50px;
        height: 50px;
        background-color: $black;
        color: white;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50px;
        right: 0px;
        border-radius: 50% 0 0 50%;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease 0s;

        &.CLIClosed {
            opacity: 1;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}   




/* KEYFRAMES */

@keyframes topBar {
    from {
        transform: rotate(0deg);
        
    }
    to {
        transform: rotate(-45deg) translateY(14px);
    }
}

@keyframes bottomBar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg) translateY(-14px);
    }
}

@keyframes middleBar {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes hamburger-wrapper-translate {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-10px);
    }
}

@keyframes hamburger-wrapper-translate-reverse {
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes topBarReverse {
    from {
        transform: rotate(-45deg) translateY(14px);  
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes bottomBarReverse {
    from {
        transform: rotate(45deg) translateY(-14px);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes middleBarReverse {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}